<%= form_for HouseImage.new do |form| %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :house_image_url %>
  </div>

  <div class="field">
    <%= form.label :section %>
    <%= form.select :section, [['exteriors'], ['grounds'], ['gardens'], ['external buildings'], ['living rooms'], ['kitchens'], ['bedrooms'], ['bathrooms'], ['basements'], ['storage'], ['decor']], id: :house_image_section %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, id: :house_image_tags %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
